main__contentmain__content*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    padding: 30px 0;
    background: black;
}

.nav{
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
}

.lists{
    display: flex;
    column-gap: 15px;
}

.title{
    color: white;
}

.link{
    color: white;
    transition: .5s;
}

.link:hover{
    color: red;
}

main{
    background: blue;
    height: 100%;
    padding: 100px 0;
}

.main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
}

.main__title{
    
    transition: .5s;
}

.main__content:hover .main__title{
    color: white;
    transform: scale(1.2) translateY(20px);
}